Repository msnodeve/rlottie, pull requests merged in 2020-09, with the labels that each got.

#16 refactor: refactor basic api
  src/wasm/rlottiewasm.cpp
Labels: hotfix, refactor

#20 fix: Memory reference
  src/wasm/rlottiewasm.cpp
Labels: bug, hotfix

#28 Add slow functions
  src/wasm/rlottiewasm.cpp
Labels: C++, Wasm, rlottie

#36 Improve API Features for using in 'rlottie preview'
  src/wasm/rlottiewasm.cpp
Labels: C++, Wasm, release, rlottie
